<ul class="breadcrumb align-items-center m-0 small bg-white rounded-10 p-2">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="home">
        <a href="index.html">
            <svg width="14" height="14">
                <use href="#svg-home" />
            </svg>
            <i class="fa fa-home"></i> Trang chủ
        </a>
        <span class="slash-divider ml-2 mr-2">
            <svg width="4" height="8">
                <use href="#svg-next-mini" />
            </svg>
        </span>
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        Giỏ hàng
    </li>
</ul>
<div class="top_slogan w-100 align-items-center" style="--clcont: #ffffff; --bg_line_1: #71c3ab; --bg_line_2: #6568a0; display: none;">
    <div class="container h-100">
        <div class="zozo_text_fade swiper-container h-100">
            <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                    <a class="font-weight-bold d-flex justify-content-center align-items-center h-100 w-100" href="#" title="Tặng quà hấp dẫn cho bé. Mua hàng ngay đừng bỏ lỡ.">
                        <span class="pulsingButton mr-3 bg-white d-inline-block rounded-circle"></span>Tặng quà hấp dẫn cho bé. Mua hàng ngay đừng bỏ lỡ.
                    </a>
                </div>
                <div class="swiper-slide text-center">
                    <a class="font-weight-bold d-flex justify-content-center align-items-center h-100 w-100" href="#" title="Free ship tất cả các đơn hàng từ 299k">
                        <span class="pulsingButton mr-3 bg-white d-inline-block rounded-circle"></span>Free ship tất cả các đơn hàng từ 299k
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layoutPage-cart" id="layout-cart">
    <div class="notify">
        <div class="container"></div>
    </div>
    <div class="wrapper-cart-detail">
        <div class="container">
            <div class="heading-page">
                <div class="header-page">
                    <h1>Giỏ hàng của bạn</h1>
                    <p class="count-cart">Có <span> 0 sản phẩm </span> trong giỏ hàng</p>
                </div>
            </div>
            <div class="row wrapbox-content-cart">
                <div class="col-md-8 col-sm-8 col-xs-12 contentCart-detail">
                    <div class="cart-container">
                        <div class="expanded-message">
                            <p class="cart-empty">Giỏ hàng của bạn đang trống</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 sidebarCart-sticky">
                    <div class="sidebox-order">
                        <div class="sidebox-order-inner">
                            <div class="sidebox-order_title">
                                <h3>Thông tin đơn hàng</h3>
                            </div>
                            <div class="sidebox-order_total">
                                <p>
                                    Tổng tiền:
                                    <span class="total-price">0đ</span>
                                </p>
                            </div>
                            <div class="sidebox-order_text">
                                <p>
                                    Phí vận chuyển sẽ được tính ở trang thanh toán.<br />
                                    Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.
                                </p>
                            </div>
                            <div class="sidebox-order_action">
                                <a href="javascript:void(0)" class="button dark btncart-checkout">Thanh toán</a>
                                <p class="link-continue text-center">
                                    <a href="index.html"> <i class="fa fa-reply"></i> Tiếp tục mua hàng </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
