<div class="hidden-xs">
    <div class="width1200">
        <div class="bg-flashsale">
            <div class="icon-flashsale">
                <img src="themes/sua/images/flash-sale.png" />
            </div>
            <div class="home-flashsale">
                <div class="spnhom-noibat-global">
                    <div class="spnhom-noibat">
                        <div class="col-md-2">
                            <div class="inside-flas isspbc">
                                <a href="/SanPham">
                                    <div class="flashsale-pic">
                                        <img src="uploads/shop/pic/small_1718965185.nv.jpg" />
                                    </div>
                                    <div class="flashsale-title">Bộ 4 Sữa Enfamama A+ vani 830g tặng bàn ăn cho bé</div>
                                </a>
                                <div class="shopprice">1.880.000<sup>đ</sup></div>
                                <div class="chonmua buy-fast" data-pid="25342" data-sl="1">
                                    <span>Chọn mua</span>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-spbanchay owl-carousel owl-theme">
            <div class="item">
                <div class="inside-flas isspbc">
                    <a href="/SanPham">
                        <div class="flashsale-pic">
                            <img src="uploads/shop/pic/small_1655258417.nv.jpg" />
                        </div>
                        <div class="flashsale-title">Sữa bột Delimax Baby 900g</div>
                    </a>
                    <div class="shopprice">480.000<sup>đ</sup></div>
                    <div class="chonmua buy-fast" data-pid="25283" data-sl="1">
                        <span>Chọn mua</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-nhomsp">
            <div class="menu-nhomsp owl-carousel owl-theme">
                <div class="item">
                    <div class="xsnom cate228" data-cid="228">
                        <img src="uploads/shop/category/1714097767.nv.png" />
                    </div>
                </div>
                <div class="item">
                    <div class="xsnom cate252" data-cid="252">
                        <img src="uploads/shop/category/1724052317.nv.png" />
                    </div>
                </div>
            </div>

            <div class="owl-controls">
                <div class="owl-nav">
                    <div class="owl-prev" style=""></div>
                    <div class="owl-next" style=""></div>
                </div>
                <div class="owl-dots" style="">
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>

            <div class="spnhom-noibat-global supper-xnhom">
                <div class="spnhom-noibat">
                    <div class="col-md-2">
                        <div class="inside-flas isspbc">
                            <a href="Bo-2-Sua-Aptamil-NewZealand-so-1-800g-25394sp.html">
                                <div class="flashsale-pic">
                                    <img src="uploads/shop/pic/small_1728296563.nv.jpg" />
                                </div>
                                <div class="flashsale-title">Bộ 2 Sữa Aptamil NewZealand số 1 800g</div>
                            </a>
                            <div class="shopprice">1.494.000<sup>đ</sup></div>
                            <div class="chonmua buy-fast" data-pid="25394" data-sl="1">
                                <span>Chọn mua</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="inside-flas isspbc">
                            <a href="Sua-bau-Morinaga-E-Okasan-vi-tra-sua-800g-25390sp.html">
                                <div class="flashsale-pic">
                                    <img src="uploads/shop/pic/small_1729140275.nv.jpg" />
                                </div>
                                <div class="flashsale-title">Sữa bầu Morinaga E-Okasan vị trà sữa 800g</div>
                            </a>
                            <div class="shopprice">580.000<sup>đ</sup></div>
                            <div class="chonmua buy-fast" data-pid="25390" data-sl="1">
                                <span>Chọn mua</span>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="align-center">
                    <a class="c-btn" href="SUA-BOT-DINH-DUONG-128SP.html">
                        <span>Xem tất cả</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
