<nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-2-5 col-12">
                <div id="column-left" class="left-column compliance">
                    <div class="col-mobile index position-fixed d-flex flex-column pt-0 pb-0 js-close-slogan open_slogan" id="col-left-mew">
                        <div class="align-items-center menu_mobile position-relative">
                            <div id="_menu_mobile"></div>
                            <ul id="menu-mew" class="p-0 m-0 list-unstyled d-lg-flex flex-lg-column rounded-10">
                                <li class="level0 d-block w-100 position-static js-submenu">
                                    <a
                                        title="Bỉm, tã, vệ sinh"
                                        href="bim-ta-ve-sinh.html"
                                        class="align-items-center d-flex flex-column flex-lg-row justify-content-center justify-content-lg-start p-2 pr-lg-3 position-relative text-center text-lg-left"
                                    >
                                        <p class="icon_mn mb-1 mb-lg-0 mr-lg-2 p-2 p-lg-0">
                                            <picture class="position-relative ratio1by1 has-edge aspect d-block">
                                                <img
                                                    class="lazy d-block img img-cover position-absolute"
                                                    src="image/catalog/categories/mother_logo___3__283d7d31683d4c69827bd657d2b1efeb.webp"
                                                    data-src="image/catalog/categories/mother_logo___3__283d7d31683d4c69827bd657d2b1efeb.webp"
                                                    alt="Bỉm, tã, vệ sinh"
                                                />
                                            </picture>
                                        </p>
                                        <span class="line_1 line_2"> Bỉm, tã, vệ sinh </span>
                                        <svg width="5" height="10" class="position-absolute d-none d-lg-inline-block">
                                            <use href="#svg-next-mini" />
                                        </svg>
                                    </a>
                                    <ul class="align-content-lg-start align-content-start align-items-center align-items-lg-start list-unstyled lv1 m-0 m_chill p-0 position-absolute row">
                                        <li class="level1 position-relative col-12 col-lg-12 border-bottom px-lg-0">
                                            <a href="ta-bim-goon.html" class="d-flex pt-2 pb-2 px-lg-3 align-items-center" title="Tã - Bỉm Goon">
                                                <span class="line-height-normal line_1 line_2 h-auto"> Tã - Bỉm Goon </span>
                                            </a>
                                        </li>
                                        <li class="level1 position-relative col-12 col-lg-12 border-bottom px-lg-0">
                                            <a href="ta-bim-huggies.html" class="d-flex pt-2 pb-2 px-lg-3 align-items-center" title="Tã - Bỉm Huggies">
                                                <span class="line-height-normal line_1 line_2 h-auto"> Tã - Bỉm Huggies </span>
                                            </a>
                                        </li>
                                        <li class="level1 position-relative col-12 col-lg-12 border-bottom px-lg-0">
                                            <a href="ta-bim-merries.html" class="d-flex pt-2 pb-2 px-lg-3 align-items-center" title="Tã - Bỉm Merries">
                                                <span class="line-height-normal line_1 line_2 h-auto"> Tã - Bỉm Merries </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <a class="align-items-center bg-main close_menu_mobile d-flex justify-content-center position-absolute d-lg-none" href="javascript:;" title="Đóng">
                            <svg width="18" height="18">
                                <use href="#svg-close" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="zozo_mobile_slide mb-3">
    <div class="row">
        <div class="col-lg-2-5 col-12"></div>
        <div class="col-lg-7-5 col-12">
            <div class="zozo_slide swiper-container position-relative">
                <div class="swiper-wrapper">
                    <div class="swiper-slide text-center">
                        <a class="d-block w-100 h-100 rounded-10 modal-open" href="#" title="Thời trang nam">
                            <picture class="position-relative w-100 m-0 ratioslide d-block aspect">
                                <source media="(min-width: 1200px)" srcset="image/catalog/slide/2_96ebda1d49b3426db5431b80b40548c9.webp" />
                                <source media="(min-width: 992px)" srcset="image/catalog/slide/2_96ebda1d49b3426db5431b80b40548c9.webp" />
                                <source media="(min-width: 569px)" srcset="image/catalog/slide/2_96ebda1d49b3426db5431b80b40548c9.webp" />
                                <source media="(max-width: 480px)" srcset="image/catalog/slide/2_96ebda1d49b3426db5431b80b40548c9.webp" />
                                <img src="image/catalog/slide/2_96ebda1d49b3426db5431b80b40548c9.webp" alt="" class="img-responsive center-block" />
                            </picture>
                        </a>
                    </div>
                    <div class="swiper-slide text-center">
                        <a class="d-block w-100 h-100 rounded-10 modal-open" href="#" title="Thời trang nam">
                            <picture class="position-relative w-100 m-0 ratioslide d-block aspect">
                                <source media="(min-width: 1200px)" srcset="image/catalog/slide/sl1_f716ec9874c64f18a0821c2cd5b3999c.webp" />
                                <source media="(min-width: 992px)" srcset="image/catalog/slide/sl1_f716ec9874c64f18a0821c2cd5b3999c.webp" />
                                <source media="(min-width: 569px)" srcset="image/catalog/slide/sl1_f716ec9874c64f18a0821c2cd5b3999c.webp" />
                                <source media="(max-width: 480px)" srcset="image/catalog/slide/sl1_f716ec9874c64f18a0821c2cd5b3999c.webp" />
                                <img src="image/catalog/slide/sl1_f716ec9874c64f18a0821c2cd5b3999c.webp" alt="Banner #2" class="img-responsive center-block" />
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination zozo_slide_p"></div>
            </div>
        </div>
    </div>
</section>

<section id="flash_sale" class="m_product mb-3 mb-lg-4 position-relative" style="--cl_tit_fl: #ff379b; --bg_fl_1: #ffe095; --bg_fl_2: #ffb0d9;">
    <div class="rounded-10 bg-flash p-2">
        <div class="align-items-lg-end row time_box py-2 mb-2">
            <div class="col-12 col-lg-7 mb-2 mb-lg-0 align-items-baseline col-12 col-md-7 d-flex justify-content-between justify-content-md-start mb-2 mb-lg-0">
                <h2 class="title font-weight-bold position-relative m-0 text-center text-lg-left cl_tit_fl font-coiny">
                    <a class="position-relative" href="product/special.html" title="Flash Sale"> Sản Phẩm Bán Chạy </a>
                </h2>
                <a class="font-weight-bold more_view px-2 py-1 rounded-pill d-md-none" href="product/special.html" title="Xem thêm">
                    Xem thêm
                    <svg width="6" height="12">
                        <use href="#svg-next-mini" />
                    </svg>
                </a>
            </div>
            <div class="align-items-end col-12 col-md-5 d-flex justify-content-md-end justify-content-center ml-auto text-center text-md-right">
               
                <a class="font-weight-bold more_view rounded-10 d-none d-md-block text-white" href="collections/flash-sale.html" title="Xem thêm">
                    Xem thêm
                    <svg width="6" height="12">
                        <use href="#svg-next-mini" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="b_product">
            <div class="zozo_flash swiper-container position-relative pb-3 pb-lg-0">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-item position-relative rounded-10 p-2 bg-white h-100">
                            <a href="ao-vest-be-trai-fm-v5.html" class="d-block mb-2 modal-open position-relative rounded-10 thumb" title="Áo vest bé trai FM-V5">
                                <picture class="position-relative w-100 m-0 ratio1by1 has-edge aspect d-block">
                                    <img
                                        src="image/cache/catalog/products/me-bau-va-sau-sinh/o-10-13159ff0162549e3aee0535a2c5bde93-3a5a825017d44177be00e111cc9046c4-2a215a85a3864ccbabde6769bf13b2ca-large-220x220.4a.delay"
                                        decoding="async"
                                        class="d-block image-0 img img-cover position-absolute"
                                        alt="Áo vest bé trai FM-V5"
                                    />
                                    <img
                                        src="image/catalog/products/me-bau-va-sau-sinh/o-13_53ad16c019174224ac3b64fc0bf06691_62990d8398e6473ab269f67b30f70d63_1a5dc1d419544bba81d54087ab5ab7a2_large.jpg"
                                        decoding="async"
                                        class="d-block image-1 img img-cover position-absolute"
                                        alt="Áo vest bé trai FM-V5"
                                    />
                                </picture>
                            </a>
                            <div class="item-info position-relative">
                                <form action="#" method="post" enctype="multipart/form-data" class="product-item_form position-absolute">
                                    <a class="btn p-1 d-block rounded-circle position-relative js-quickview" data-toggle="modal" data-target="#quickviewModal" href="ao-vest-be-trai-fm-v5.html" title="">
                                        <svg width="20" height="20">
                                            <use href="#svg-variant"></use>
                                        </svg>
                                    </a>
                                </form>
                                <h3 class="item-title font-weight-normal mb-0 mt-1">
                                    <a class="line_2" href="ao-vest-be-trai-fm-v5.html" title="Áo vest bé trai FM-V5">
                                        Áo vest bé trai FM-V5
                                    </a>
                                </h3>
                                <div class="item-price position-relative">
                                    <span class="special-price font-weight-bold position-relative d-block">
                                        567,000đ <span class="sale-label-inline font-weight-bold small p-1"><small></small><span>-28</span><small>%</small></span>
                                    </span>
                                    <del class="old-price"> 789,000đ</del>
                                </div>
                                <div class="reviews-product-grid">
                                    <div class="zozoweb-product-reviews-badge">
                                        <div class="zozoweb-product-reviews-star" data-score="0" data-number="5" style="color: rgb(255, 190, 0);">
                                            <i data-alt="1" class="star-off-png" style="color: rgb(236, 186, 85);"></i>
                                            <i data-alt="2" class="star-off-png" style="color: rgb(236, 186, 85);"></i>
                                            <i data-alt="3" class="star-off-png" style="color: rgb(236, 186, 85);"></i>
                                            <i data-alt="4" class="star-off-png" style="color: rgb(236, 186, 85);"></i>
                                            <i data-alt="5" class="star-off-png" style="color: rgb(236, 186, 85);"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev mf_prev d-none d-lg-flex">
                    <svg>
                        <use href="#svg-prev" />
                    </svg>
                </div>
                <div class="swiper-button-next mf_next d-none d-lg-flex">
                    <svg>
                        <use href="#svg-next" />
                    </svg>
                </div>
                <div class="swiper-scrollbar sb_flash d-lg-none"></div>
            </div>
        </div>
    </div>
</section>
<section data-tab class="m_tab text-center mb-3 modal-open" style="--cl_tit_tab: #097771; --bg_tab: #d7fff2;">
    <div class="zozo_tab_main rounded-10 p-2 position-relative modal-open">
        <span class="effect_tab_1"></span>
        <span class="effect_tab_2"></span>
        <span class="effect_tab_3"></span>
        <div class="tab_link d-flex pt-3 pb-3 gap_8 justify-content-around justify-content-lg-center position-relative">
            <a
                href="javascript:void(0)"
                data-pos="0"
                title="Nổi bật"
                style="--tit_tab: #097771;"
                data-color-tt="#097771"
                data-color-bg="#d7fff2"
                class="mx-lg-3 js-tab-title active d-flex align-items-center flex-column justify-content-center"
            >
                <span class="tab_avata position-relative rounded-10 modal-open">
                    <picture class="position-relative w-100 m-0 ratio1by1 has-edge aspect d-block">
                        <img
                            alt="icon Nổi bật"
                            src="image/catalog/icons/tab_image_1_3391b3dba3bc4089b81e2641b89bdbc7.webp"
                            data-src="https://vshop.w2.exdomain.net/image/catalog/icons/tab_image_1_3391b3dba3bc4089b81e2641b89bdbc7.webp"
                            class="d-block img img-cover position-absolute lazy"
                        />
                    </picture>
                </span>
                <p class="mb-0 rounded-pill py-2 font-coiny">
                    Nổi bật
                </p>
            </a>
            <a href="javascript:void(0)" data-pos="1" title="Yêu thích" style="--tit_tab: #ff379b;" data-color-tt="#ff379b" data-color-bg="#ffd7f9" class="mx-lg-3 js-tab-title d-flex align-items-center flex-column justify-content-center">
                <span class="tab_avata position-relative rounded-10 modal-open">
                    <picture class="position-relative w-100 m-0 ratio1by1 has-edge aspect d-block">
                        <img
                            alt="icon Nổi bật"
                            src="image/catalog/icons/tab_image_2_85f6850c3aa3461d8f0ea203a71c4f7e.webp"
                            data-src="https://vshop.w2.exdomain.net/image/catalog/icons/tab_image_2_85f6850c3aa3461d8f0ea203a71c4f7e.webp"
                            class="d-block img img-cover position-absolute lazy"
                        />
                    </picture>
                </span>
                <p class="mb-0 rounded-pill py-2 font-coiny">
                    Yêu thích
                </p>
            </a>
            <a href="javascript:void(0)" data-pos="2" title="Xu hướng" style="--tit_tab: #ff7000;" data-color-tt="#ff7000" data-color-bg="#fef0cb" class="mx-lg-3 js-tab-title d-flex align-items-center flex-column justify-content-center">
                <span class="tab_avata position-relative rounded-10 modal-open">
                    <picture class="position-relative w-100 m-0 ratio1by1 has-edge aspect d-block">
                        <img
                            alt="icon Nổi bật"
                            src="image/catalog/icons/tab_image_3_06af0709cb3544328200537b48aa44ba.webp"
                            data-src="https://vshop.w2.exdomain.net/image/catalog/icons/tab_image_3_06af0709cb3544328200537b48aa44ba.webp"
                            class="d-block img img-cover position-absolute lazy"
                        />
                    </picture>
                </span>
                <p class="mb-0 rounded-pill py-2 font-coiny">
                    Xu hướng
                </p>
            </a>
            <a href="javascript:void(0)" data-pos="3" title="Bán chạy" style="--tit_tab: #8d57ff;" data-color-tt="#8d57ff" data-color-bg="#f5dfff" class="mx-lg-3 js-tab-title d-flex align-items-center flex-column justify-content-center">
                <span class="tab_avata position-relative rounded-10 modal-open">
                    <picture class="position-relative w-100 m-0 ratio1by1 has-edge aspect d-block">
                        <img
                            alt="icon Nổi bật"
                            src="image/catalog/icons/tab_image_4_5c2f8ce25740496ea1018bed9f508082.webp"
                            data-src="https://vshop.w2.exdomain.net/image/catalog/icons/tab_image_4_5c2f8ce25740496ea1018bed9f508082.webp"
                            class="d-block img img-cover position-absolute lazy"
                        />
                    </picture>
                </span>
                <p class="mb-0 rounded-pill py-2 font-coiny">
                    Bán chạy
                </p>
            </a>
        </div>
        <div class="min-height b_product">
            <div class="mg_out">
                <div class="zozo_product_main-0 loaded swiper-container pb-3 pb-lg-0 active" data-pos-content="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide text-left box_padding">
                            <div class="product-item position-relative rounded-10 p-2 bg-white h-100">
                                <a href="den-long-trung-thu-ca-chep-co-den-nhac-qua-tang.html" class="d-block mb-2 modal-open position-relative rounded-10 thumb" title="Đèn lồng trung thu cá chép có đèn nhạc (Quà tặng)">
                                    <picture class="position-relative w-100 m-0 ratio1by1 has-edge aspect d-block">
                                        <img
                                            src="image/cache/catalog/products/me-bau-va-sau-sinh/z4608572047898-eb9fa9b814ece4c766c587e4831710a2-1-1692170396307-c0263230360e4035ab1c9eaf130cfb49-large-228x228.jpg"
                                            decoding="async"
                                            class="d-block image-0 img img-cover position-absolute"
                                            alt="Đèn lồng trung thu cá chép có đèn nhạc (Quà tặng)"
                                        />
                                        <img
                                            src="image/cache/catalog/products/me-bau-va-sau-sinh/z4608572047898-eb9fa9b814ece4c766c587e4831710a2-1-1692170396307-c0263230360e4035ab1c9eaf130cfb49-large-228x228.jpg"
                                            decoding="async"
                                            class="d-block image-1 img img-cover position-absolute"
                                            alt="Đèn lồng trung thu cá chép có đèn nhạc (Quà tặng)"
                                        />
                                    </picture>
                                </a>
                                <div class="item-info position-relative">
                                    <form action="#" method="post" enctype="multipart/form-data" class="product-item_form position-absolute">
                                        <button onclick="cart.add('79');" class="btn p-1 js-addToCart d-block rounded-circle position-relative" title="Mua ngay" type="button">
                                            <svg width="20" height="20">
                                                <use href="#svg-cart"></use>
                                            </svg>
                                        </button>
                                    </form>
                                    <h3 class="item-title font-weight-normal mb-0 mt-1">
                                        <a class="line_2" href="den-long-trung-thu-ca-chep-co-den-nhac-qua-tang.html" title="Đèn lồng trung thu cá chép có đèn nhạc (Quà tặng)">
                                            Đèn lồng trung thu cá chép có đèn nhạc (Quà tặng)
                                        </a>
                                    </h3>
                                    <div class="item-price position-relative">
                                        <span class="special-price font-weight-bold position-relative d-block"> Liên hệ </span>
                                    </div>
                                    <div class="reviews-product-grid">
                                        <div class="zozoweb-product-reviews-badge">
                                            <div class="zozoweb-product-reviews-star" data-score="0" data-number="5" style="color: rgb(255, 190, 0);">
                                                <i data-alt="1" class="star-off-png" style="color: rgb(236, 186, 85);"></i>
                                                <i data-alt="2" class="star-off-png" style="color: rgb(236, 186, 85);"></i>
                                                <i data-alt="3" class="star-off-png" style="color: rgb(236, 186, 85);"></i>
                                                <i data-alt="4" class="star-off-png" style="color: rgb(236, 186, 85);"></i>
                                                <i data-alt="5" class="star-off-png" style="color: rgb(236, 186, 85);"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="swiper-button-prev mm_prev d-none d-lg-flex">
                        <svg>
                            <use href="#svg-prev" />
                        </svg>
                    </span>
                    <span class="swiper-button-next mm_next d-none d-lg-flex">
                        <svg>
                            <use href="#svg-next" />
                        </svg>
                    </span>
                    <div class="swiper-scrollbar sb_tm d-lg-none"></div>
                </div>
            </div>
            <script>
                window.addEventListener("DOMContentLoaded", (event) => {
                    var swipertab = new Swiper(".zozo_product_main-0", {
                        loop: false,
                        spaceBetween: 8,
                        speed: 1000,
                        autoplay: false,
                        slidesPerView: 2,
                        navigation: {
                            nextEl: ".zozo_product_main-0 .mm_next",
                            prevEl: ".zozo_product_main-0 .mm_prev",
                        },
                        freeMode: true,
                        scrollbar: {
                            el: ".zozo_product_main-0 .sb_tm",
                            hide: false,
                        },
                        breakpoints: {
                            375: {
                                slidesPerView: 2,
                            },
                            768: {
                                slidesPerView: 4,
                            },
                            992: {
                                slidesPerView: 4,
                            },
                            1200: {
                                slidesPerView: 5,
                            },
                            1500: {
                                slidesPerView: 6,
                            },
                        },
                    });
                    var ele = $(".tab_link a");
                    ele.click(function () {
                        swipertab.update();
                    });
                });
            </script>
        </div>
    </div>
</section>
