
<section id="m_policy" class="m_policy pt-3 pb-3 " style="--bg_poli: #fdf7f7;">
    <div class="container">
        <div class="policy-wrap">
            <div class="row py-1 justify-content-center">
            		                <div class="col-4 col-sm-4 col-md-2 mb-3 mb-lg-0">
	                    <span class="d-block policy-item text-center">
	                        <div class="pb-lg-2 w-60 m-auto">
	                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
	                                <img class="d-block img img-cover position-absolute lazy" src="image/catalog/service/i_policy_1_5c8d6af9401a410d9022f99ebf4cb7eb.webp" data-src="https://vshop.w2.exdomain.net/image/catalog/service/i_policy_1_5c8d6af9401a410d9022f99ebf4cb7eb.webp" alt="Cùng bé lớn khôn!" />
	                            </picture>
	                        </div>
	                        <div class="policy-content px-lg-2 px-xl-4 pt-2 pt-lg-0">
	                            <a href="javascript:void(0)">Cùng bé lớn khôn!</a>
	                        </div>
	                    </span>
	                </div>
	            	                <div class="col-4 col-sm-4 col-md-2 mb-3 mb-lg-0">
	                    <span class="d-block policy-item text-center">
	                        <div class="pb-lg-2 w-60 m-auto">
	                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
	                                <img class="d-block img img-cover position-absolute lazy" src="image/catalog/service/i_policy_2_7d617c4aa97146a7a70e386a77839d1d.webp" data-src="https://vshop.w2.exdomain.net/image/catalog/service/i_policy_2_7d617c4aa97146a7a70e386a77839d1d.webp" alt="Giao hàng siêu tốc" />
	                            </picture>
	                        </div>
	                        <div class="policy-content px-lg-2 px-xl-4 pt-2 pt-lg-0">
	                            <a href="javascript:void(0)">Giao hàng siêu tốc</a>
	                        </div>
	                    </span>
	                </div>
	            	                <div class="col-4 col-sm-4 col-md-2 mb-3 mb-lg-0">
	                    <span class="d-block policy-item text-center">
	                        <div class="pb-lg-2 w-60 m-auto">
	                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
	                                <img class="d-block img img-cover position-absolute lazy" src="image/catalog/service/i_policy_3_294f08b77cda446c8f76adbad97788ce.webp" data-src="https://vshop.w2.exdomain.net/image/catalog/service/i_policy_3_294f08b77cda446c8f76adbad97788ce.webp" alt="Sản phẩm chính hãng" />
	                            </picture>
	                        </div>
	                        <div class="policy-content px-lg-2 px-xl-4 pt-2 pt-lg-0">
	                            <a href="javascript:void(0)">Sản phẩm chính hãng</a>
	                        </div>
	                    </span>
	                </div>
	            	                <div class="col-4 col-sm-4 col-md-2 mb-3 mb-lg-0">
	                    <span class="d-block policy-item text-center">
	                        <div class="pb-lg-2 w-60 m-auto">
	                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
	                                <img class="d-block img img-cover position-absolute lazy" src="image/catalog/service/i_policy_4_f9d492b636b84573a83475c577b53aef.webp" data-src="https://vshop.w2.exdomain.net/image/catalog/service/i_policy_4_f9d492b636b84573a83475c577b53aef.webp" alt="Đổi trả dễ dàng" />
	                            </picture>
	                        </div>
	                        <div class="policy-content px-lg-2 px-xl-4 pt-2 pt-lg-0">
	                            <a href="javascript:void(0)">Đổi trả dễ dàng</a>
	                        </div>
	                    </span>
	                </div>
	            	                <div class="col-4 col-sm-4 col-md-2 mb-3 mb-lg-0">
	                    <span class="d-block policy-item text-center">
	                        <div class="pb-lg-2 w-60 m-auto">
	                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
	                                <img class="d-block img img-cover position-absolute lazy" src="image/catalog/service/i_policy_5_59fbec7b8a194661a8e10fd39d4c9d1c.webp" data-src="https://vshop.w2.exdomain.net/image/catalog/service/i_policy_5_59fbec7b8a194661a8e10fd39d4c9d1c.webp" alt="Chất lượng đảm bảo" />
	                            </picture>
	                        </div>
	                        <div class="policy-content px-lg-2 px-xl-4 pt-2 pt-lg-0">
	                            <a href="javascript:void(0)">Chất lượng đảm bảo</a>
	                        </div>
	                    </span>
	                </div>
	            	                <div class="col-4 col-sm-4 col-md-2 mb-3 mb-lg-0">
	                    <span class="d-block policy-item text-center">
	                        <div class="pb-lg-2 w-60 m-auto">
	                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
	                                <img class="d-block img img-cover position-absolute lazy" src="image/catalog/service/i_policy_6_cef4f892de654f499194d7119d716226.webp" data-src="https://vshop.w2.exdomain.net/image/catalog/service/i_policy_6_cef4f892de654f499194d7119d716226.webp" alt="Tư vấn tận tình" />
	                            </picture>
	                        </div>
	                        <div class="policy-content px-lg-2 px-xl-4 pt-2 pt-lg-0">
	                            <a href="javascript:void(0)">Tư vấn tận tình</a>
	                        </div>
	                    </span>
	                </div>
	                        </div>
        </div>
    </div>
</section>    <div class="d-flex d-lg-none zozo_mobi_bar position-fixed pt-2 ">
		    <a href="index.html" title="Trang chủ" class="  item align-content-center d-flex flex-column h-100 justify-content-center">
	    			        <svg width="22" height="22">
		            <use href="#svg-home-bar"/>
		        </svg>
		    	        <span class="tit d-block font-weight-bold text-center pr-1 pr-sm-2 pl-1 pl-sm-2 pt-1">Trang chủ</span>
	    </a>
		    <a href="tin-tuc.html" title="Tin tức" class="  item align-content-center d-flex flex-column h-100 justify-content-center">
	    			        <svg width="22" height="22">
		            <use href="#svg-news"/>
		        </svg>
		    	        <span class="tit d-block font-weight-bold text-center pr-1 pr-sm-2 pl-1 pl-sm-2 pt-1">Tin tức</span>
	    </a>
		    <a href="javascript:void(0)" title="Danh mục" class="js-menu-toggle  item align-content-center d-flex flex-column h-100 justify-content-center">
	    			        <svg width="22" height="22">
		            <use href="#svg-menu"/>
		        </svg>
		    	        <span class="tit d-block font-weight-bold text-center pr-1 pr-sm-2 pl-1 pl-sm-2 pt-1">Danh mục</span>
	    </a>
		    <a href="javascript:void(0)" title="Tư vấn" class=" js-contact-toggle item align-content-center d-flex flex-column h-100 justify-content-center">
	    			        <svg width="22" height="22">
		            <use href="#svg-support"/>
		        </svg>
		    	        <span class="tit d-block font-weight-bold text-center pr-1 pr-sm-2 pl-1 pl-sm-2 pt-1">Tư vấn</span>
	    </a>
		    <a href="gio-hang.html" title="Giỏ hàng" class="  item align-content-center d-flex flex-column h-100 justify-content-center">
	    			        <svg width="22" height="22">
		            <use href="#svg-shopping-cart"/>
		        </svg>
		    	        <span class="tit d-block font-weight-bold text-center pr-1 pr-sm-2 pl-1 pl-sm-2 pt-1">Giỏ hàng</span>
	    </a>
	</div>
<div class="fix-phone position-fixed d-flex flex-column bg-white p-2 px-lg-3 rounded-10 " id="mb_bar">
    <a class="align-items-center bg-main close_support d-flex justify-content-center position-absolute" href="javascript:;" title="Đóng">
        <svg width="12" height="12">
            <use href="#svg-close"/>
        </svg>
    </a>
    <div class="font-weight-bold p-2 border-bottom">
        Hỗ trợ 24/7    </div>
            <div class="item">
            <a href="tel:1900123456" rel="nofollow" class="align-items-center border-bottom d-flex gap_5">
                <span class="img">
                    <img alt="Hotline" class="lazy" src="image/catalog/service/icon_hotline.webp" data-src="image/catalog/service/icon_hotline.webp">
                </span>
                <div class="detail">1900.123.456</div>
            </a>
        </div>
            <div class="item">
            <a href="https://m.me/" rel="nofollow" class="align-items-center border-bottom d-flex gap_5">
                <span class="img">
                    <img alt="Hotline" class="lazy" src="image/catalog/service/icon_mess.webp" data-src="image/catalog/service/icon_mess.webp">
                </span>
                <div class="detail">Chat Mess</div>
            </a>
        </div>
            <div class="item">
            <a href="https://zalo.me/0346123456" rel="nofollow" class="align-items-center  d-flex gap_5">
                <span class="img">
                    <img alt="Hotline" class="lazy" src="image/catalog/service/icon_zalo.webp" data-src="image/catalog/service/icon_zalo.webp">
                </span>
                <div class="detail">Chat Zalo</div>
            </a>
        </div>
    </div></div>

<div class="section section-slider">
    <div class="section-slider__main">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9 col-xs-12 col-12">
                </div>
                            </div>
        </div>
    </div>
</div>
<footer class="bg-white pt-4 pt-lg-5">
    <div class="foo_mid">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-12 footer-left mb-3 mb-md-0">
                                            <h2 class="font-coiny text-main footer-title">
                            <img width="220px" src="image/catalog/logo/VShopLogo.png" alt="logo" />
                        </h2>
                        <address class="vcard mb-2">
                                                                                                                </address>
                        <div class="row align-items-end">
                            <div class="align-items-center col-8 col-sm-5 col-md-8 col-lg-4 d-flex gap_10">
                            </div>
                        </div>
                                    </div>
                <div class="col-xl-6 col-lg-6 col-md-5 col-sm-12 col-12">
                    <div class="row">
                                                                                                                                                                                        
                                    <div class="col-lg-6 col-md-12 col-6 footer-left">
                                        <h3 class="footer-title mb-2 position-relative text-main font-weight-bold">Thông tin</h3>
                                        <ul class="links">
                                                                                            <li><a href="ve-chung-toi.html" title="Về chúng tôi">Về chúng tôi</a></li>
                                                                                            <li><a href="dieu-khoan-dieu-kien.html" title="Điều khoản &amp; Điều kiện">Điều khoản &amp; Điều kiện</a></li>
                                                                                            <li><a href="chinh-sach-bao-mat.html" title="Chính sách bảo mật">Chính sách bảo mật</a></li>
                                                                                            <li><a href="chinh-sach-thanh-toan.html" title="Chính sách thanh toán">Chính sách thanh toán</a></li>
                                                                                            <li><a href="thong-tin-giao-hang.html" title="Chính sách giao hàng">Chính sách giao hàng</a></li>
                                                                                    </ul>
                                    </div>
                                                                                                                                                                    
                                    <div class="col-lg-6 col-md-12 col-6 footer-left">
                                        <h3 class="footer-title mb-2 position-relative text-main font-weight-bold">Tổng đài hỗ trợ</h3>
                                        <ul class="links">
                                                                                            <li><a href="tel: 0123456789" title="Gọi mua: 0123456789 (7:30 - 22:00)">Gọi mua: 0123456789 (7:30 - 22:00)</a></li>
                                                                                            <li><a href="tel: 0123456789" title="Kỹ thuật: 0123456789 (7:30 - 22:00)">Kỹ thuật: 0123456789 (7:30 - 22:00)</a></li>
                                                                                            <li><a href="tel: 0123456789" title="Khiếu nại: 0123456789 (8:00 - 21:30)">Khiếu nại: 0123456789 (8:00 - 21:30)</a></li>
                                                                                            <li><a href="tel: 0123456789" title="Bảo hành: 0123456789 (8:00 - 21:00)">Bảo hành: 0123456789 (8:00 - 21:00)</a></li>
                                                                                    </ul>
                                    </div>
                                                                                                                                                                                                                                </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="social position-relative pb-2 text-center">
                                                    <a href="https://www.facebook.com/facebook" class="position-relative iso sitdown modal-open d-inline-block facebook mr-1" target="_blank" rel="nofollow">
                              <img class="lazy" src="catalog/view/theme/vshop/image/facebook.png" data-src="catalog/view/theme/vshop/image/facebook.png" alt="facebook" width=32 height=32>
                            </a>
                                                                                <a href="#" class="position-relative iso sitdown modal-open d-inline-block twitter mr-1" target="_blank" rel="nofollow">
                              <img class="lazy" src="catalog/view/theme/vshop/image/twitter.webp" data-src="catalog/view/theme/vshop/image/twitter.webp" alt="twitter" width=32 height=32>
                            </a>
                                                                                <a href="youtube.html" class="position-relative iso sitdown modal-open d-inline-block youtube mr-1" target="_blank" rel="nofollow">
                              <img class="lazy" src="catalog/view/theme/vshop/image/youtube.png" data-src="catalog/view/theme/vshop/image/youtube.png" alt="youtube" width=32 height=32>
                            </a>
                                                                                <a href="#" class="position-relative iso sitdown modal-open d-inline-block instagram mr-1" target="_blank" rel="nofollow">
                              <img class="lazy" src="catalog/view/theme/vshop/image/instagram.png" data-src="catalog/view/theme/vshop/image/instagram.png" alt="instagram" width=32 height=32>
                            </a>
                                                                                                                                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foo_bot">
        <div class="container">
            <div class="row bgk align-items-center">
                <div class="col-12 text-center border-top border-main py-2">
                    <span id="copyright">&copy; Copyright 2024 Cửa hàng Vshop. </span>Thiết kế bởi <a target="_blank" href="https://zozo.vn/?utm_source=vshop.w2.exdomain.net&amp;utm_medium=referral&amp;utm_campaign=admincopyright&amp;utm_term=footerurl&amp;utm_content=footer?utm_source=vshop.w2.exdomain.net&amp;utm_medium=referral&amp;utm_campaign=copyrightwebdesign&amp;utm_term=footerurl&amp;utm_content=footer">Zozo</a>                </div>
            </div>
        </div>
    </div>
</footer>

<div onclick="scrollToTop(100);" class="back_top d-flex position-fixed justify-content-center align-items-center back_show">
    <img alt="Lên đầu trang" src="catalog/view/theme/vshop/image/to-top-arrow2.webp">
</div>

<div class="js-contact-toggle out-circle d-none d-lg-flex position-fixed rounded-circle align-items-center justify-content-center active">
    <div class="pregan element unsee"></div>
    <div class="pregan element unsee"></div>
    <div class="ser-icon align-items-center d-flex element flex-column font-weight-bold ser-icon text-white gap_2">
        <svg width="22" height="22">
            <use href="#svg-support"></use>
        </svg>
        <span class="tit d-block">Tư vấn</span>
    </div>
</div>