<header>
</div><div class="header__main">
    <div class="width1200">
        <div class="col-md-1 padd0">
          <section style="height:50px">
            <a href="/" class="header-logo">
              <img src="themes/sua/images/logo.png">
            </a>
          </section>
        </div>

        <div class="col-md-5">

          <form method="post" class="form-search" action="https://sua.vn/tim-kiem">
              
              <input type="text" name="jquery" placeholder="Tìm sản phẩm" class="form-control">
             
              <button type="submit" class="submit-search">
                <i class="fa fa-search"></i>
              </button>

          </form>

        </div><div class="col-md-6">

            <div class="headtop-right">
              <ul>
                <li>
                  <a href="thanh-toan.html" class="header__cart">
                    <div class="Hcartpic">
                        <img src="themes/sua/images/giohang.png">
                        <div class="numbers showcard"></div>
                    </div>
                    
                    <div class="carttext">  
                       Giỏ hàng
                    </div>   
                  </a>
                </li>

                <li>
                  <a href="kiem-tra-don-hang.html" class="header__history">
                      <p>Kiểm tra</p>
                      <p>đơn hàng</p>  
                  </a>
                </li>

                <li>
                  <a href="tel:0782222762" class="header__hotline">
                      <p>(8:00 - 20:00)</p>
                      <p>
                        <span>0782222762</span>
                      </p>  
                  </a>
                </li>


                <li><a href="dang-nhap.html" class="header__login">
                      Đăng nhập 
                    </a></li>

              </ul>
            </div>

        </div><div class="clearfix"></div><div class="header__danhmuc">

            <div class="header__bars">
                <i class="fa fa-bars"></i> <span>Danh Mục</span>

                <div class="menu__shop"><ul class="list-menu"><li data-submenu-mid="128">
                              <a href="/DanhMuc">SỮA BỘT DINH DƯỠNG</a><div class="showmenu showmenu-full submenu128" id="submenu-128">
                        <ul class="showmenu-sub"><li class="">
                                    <a href="/DanhMuc">
                                        <div class="imgmenu">
                                          <img class="imgmenu__thumb lazyloaded" alt="NOBIKO" width="38" height="42" src="uploads/shop/category/1724812449.nv.png">
                                        </div>
                                        <p>NOBIKO</p>
                                    </a>
                                </li></ul>
                        </div></li>
  </div> 
            </div>

            <div class="header__menu">
              <ul>
                  <li>
                    <a href="/">Trang chủ</a>
                  </li>

                
              </ul>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
    </div>
    </header>
