.product-option-radio {
    position: relative;
    float: left;
    min-height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .product-option-radio :hover{
    cursor: pointer;
  }

  .tick_icon {
    position: absolute;
    bottom: -2px;
    right: -9px;
    display: none;
  }

  .tick_icon.active {
    display: block;
  }

  .arrow-down {
    position: relative;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #2962ff;
    transform: rotate(-45deg);
  }

  .product-option-radio label {
    position: relative;
    margin: 0;
  }

  .product-option-radio label:before,
  .product-option-radio label:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 2px;
    background: #ffffff;
    bottom: 3px;
    z-index: 9;
  }

  .product-option-radio label:before {
    right: 6px;
    transform: rotate(45deg);
  }

  .product-option-radio label:after {
    width: 10px;
    bottom: 5px;
    right: 0;
    transform: rotate(130deg);
  }

  .product-variation__tick {
    width: .9375rem;
    height: .9375rem;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
  }

  .product-variation__tick:before {
    border: .9375rem solid transparent;
    border-bottom: .9375rem solid #2962ff;
    content: "";
    position: absolute;
    right: -.9375rem;
    bottom: 0;
  }

  .product-variation__tick>.icon-tick-bold {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 8px;
  }

  .product-option {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .product-option-name{
    line-height: 1.425!important;
  }

  .product-option-name label {
    font-size: 16px;
    font-weight: 600;
  }

  .product-option-radio label {
    height: auto;
    margin: 0px !important;
  }

  .product-option-radio label>input[type="radio"]+* {
    border: 1px solid #e5e5e5;
    height: auto;
  }

  /* pretty radio */
  .product-option-radio label>input[type="radio"] {
    display: none;
  }

  .product-option-radio label>input[type="radio"]:checked+* {
    color: #2962ff;
    font-weight: bold;
    border: 1px solid #2962ff;
  }

  .product-option-radio label span {
    padding: 5px 15px;
    margin-right: 0;
    border: 1px solid;
    display: block;
  }

  .product-option-radio label>input[type="radio"]:checked+*::before {
    background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
    border-color: teal;
  }


  /* css list product option */
  .list-product__option--radio {
    position: relative;
    float: left;
    min-height: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .list-product__option--radio label span {
    padding: 5px 10px !important;
    margin-right: 0;
    border: 1px solid;
    display: block;
  }
  
  .product-option-list{
    overflow: hidden;
    display: none;
  }
  /* end */


/* demo product list option theme lotus */
.item-area{
  height: 511px;
}
.zw-wrapper-options{
  position: relative;
  z-index: 999;
  background: #fff;
}
.zw-wrapper-options .product-option-list{
  margin-top: 5px;
}

.add-to-box > .text-danger{
  margin-bottom: 5px;
}

/* end demo theme lotus */


/* product option color */
  .product-option {
    padding: 5px 0;
  }
  .product-option-radio label > input[type="radio"] {
    display: none;
  }
  .product-option-mau-sac .tick_icon {
    display: none;
  }
  .product-option-mau-sac .product-option-radio label > input[type="radio"]:checked + *,
  .product-option-mau .product-option-radio label > input[type="radio"]:checked + * ,
  .product-option-color .product-option-radio label > input[type="radio"]:checked + * {
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px #d4d4d4;
  }
  .product-option-mau-sac .product-option-radio span,
  .product-option-mau .product-option-radio span,
  .product-option-color .product-option-radio span {
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    padding: 0px;
    font-size: 0px;
  }
  .product-option-mau-sac .product-option-radio span img {
    display: block;
    border-radius: 50%;
  }
  .product-option-value-xanh-lam span,
  .product-option-value-xanh-da-troi span,
  .product-option-value-blue span
  {
    background: #0d6efd;
  }
  .product-option-value-tim span,
  .product-option-value-tim purple {
    background: #6f42c1;
  }
  .product-option-value-hong span,
  .product-option-value-pink span{
    background: #d63384;
  }
  .product-option-value-do span,
  .product-option-value-red span{
    background: #dc3545;
  }
  .product-option-value-cam span,
  .product-option-value-da-cam span,
  .product-option-value-orange span {
    background: #fd7e14
  }
  .product-option-value-vang span,
  .product-option-value-yellow span {
    background: #ffc107;
  }
  .product-option-value-xanh-la span,
  .product-option-value-xanh-la-cay span,
  .product-option-value-green span {
    background: #198754
  }
  .product-option-value-xam span,
  .product-option-value-gray span {
    background: #808080;
  }
  .product-option-value-luc-lam span,
  .product-option-value-cyan span {
    background: #00FFFF;
  }
  .product-option-value-den span,
  .product-option-value-black span {
    background: #000;
  }
  .product-option-value-bac span,
  .product-option-value-silver span {
    background: #C0C0C0;
  }
  .product-option-value-trang span,
  .product-option-value-white span {
    background: #FFFFFF;
  }
  .out-of {
    position: relative;
    border: 1px solid #cfcfcf!important;
    color: #cfcfcf!important;
    overflow: hidden;
    cursor: no-drop !important;
  }
  .out-of:before,
  .out-of:after{
    content: "";
    position: absolute;
    top: -10px;
    left: 18px;
    background: #7e7e7e!important;
    width: 1px;
    height: 50px;
    transform: rotate(130deg);
    z-index: 9;
  }
  .out-of:after {
    transform: rotate(-130deg);
  }
  .product-option-mau-sac .out-of:before,
  .product-option-mau-sac .out-of:after {
    top: -8px;
    left: 11px;
    width: 2px;
    height: 40px;
    background: #fff!important;
  }
  .product-option-value-trang .out-of:before,
  .product-option-value-trang .out-of:after,
  .product-option-value-white .out-of:before,
  .product-option-value-white .out-of:after,
  .product-option-value-vang .out-of:before,
  .product-option-value-vang .out-of:after,
  .product-option-value-yellow .out-of:before,
  .product-option-value-yellow .out-of:after,
  .product-option-value-cam .out-of:before,
  .product-option-value-cam .out-of:after,
  .product-option-value-orange .out-of:before,
  .product-option-value-orange .out-of:after,
  .product-option-value-luc-lam .out-of:before,
  .product-option-value-luc-lam .out-of:after,
  .product-option-value-cyan .out-of:before,
  .product-option-value-cyan .out-of:after{
    background: #7e7e7e!important;
  }
  .product-option-mau-sac label:before,
  .product-option-mau-sac label:after {
    display: none;
  }